In [93]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\user\anaconda3\lib\site-packages (11.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\user\anaconda3\lib\site-packages (from pyarrow) (1.24.3)

In [92]:
pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [95]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import os
pd.set_option('display.max_columns', 50)

In [6]:
ventas = pd.DataFrame(pd.read_parquet("C:/Users/User/Downloads/Clase03-Trabajo-Práctico-de-Manejo-de-Datos-20230806/data/"))

In [7]:
ventas

,id_tienda,nombre_tienda,sigla,aeropuerto,latitud,longitud,ciudad,region,id_compra,moneda,monto,tipo_viaje,tipo_transito,nacionalidad,fecha,hora,minuto,medio_pago,franquicia_tdc,porcentaje_iva,monto_iva,lleva_bolsa_plastica,lleva_alcohol,lleva_tabaco,lleva_libros,monto_pagado,monto_pagado_cop,monto_pagado_usd,monto_pagado_eur
0,900,DutyFree Costero,BAQ,Ernesto Cortissoz,10.88655,-74.77633,Barranquilla,Costa,5233170,EUR,28.26,Nacional,Arrival,Extranjera,2022-02-03,2,5,TDC,Mastercard,0.19,5.3694,1.0,1.0,NaN,NaN,EUR 28.26,NaN,NaN,28.26
1,500,DutyFree Galeras,PSO,Antonio Narino,1.39556,-77.28974,Pasto,Sur,643524,pesos colombianos,321300.00,Internacional,Arrival,Colombiana,2022-04-02,11,9,Efectivo,None,NaN,NaN,NaN,NaN,NaN,NaN,pesos colombianos 321300.0,NaN,NaN,NaN
2,600,DutyFree Capital,BOG,El Dorado,4.70103,-74.14609,Bogota,Centro,8990758,pesos colombianos,48200.00,Local,Departure,Colombiana,2022-06-26,5,57,Tarjeta,MCD,0.19,9158.0000,1.0,0.0,NaN,1.0,pesos colombianos 48200.0,NaN,NaN,NaN
3,300,DutyFree Paisa,PEI,Matecaña,4.81580,-75.73637,Pereira,Eje Cafetero,637092,dolares americanos,101.52,Local,Departure,Colombiana,2022-10-02,17,6,TDC,VISA,0.19,19.2888,1.0,1.0,NaN,0.0,dolares americanos 101.52,NaN,NaN,NaN
4,900,DutyFree Costero,BAQ,Ernesto Cortissoz,10.88655,-74.77633,Barranquilla,Costa,6853184,euros,272.79,Nacional,Departure,Extranjera,2022-03-03,3,7,TDC,AMEX,0.19,51.8301,0.0,NaN,1.0,NaN,euros 272.79,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781627,100,DutyFree Paisa,MDE,Jose Maria Cordoba,6.17160,-75.42775,Rionegro,Eje Cafetero,9683054,euros,115.17,Internacional,Salida,Extranjera,2022-08-04,8,32,Efectivo,None,NaN,NaN,1.0,NaN,1.0,1.0,euros 115.17,NaN,NaN,NaN
781628,800,DutyFree Costero,CTG,Rafael Nunez,10.44599,-75.51640,Cartagena,Costa,5190273,dolares americanos,264.71,Internacional,Salida,Colombiana,2022-07-23,15,47,Tarjeta,Mastercard,NaN,NaN,1.0,0.0,0.0,NaN,dolares americanos 264.71,NaN,NaN,NaN
781629,1000,DutyFree Costero,SMR,Simon Bolivar,11.11736,-74.23283,Santa Marta,Costa,3860589,euros,204.75,Nacional,Arrival,Colombiana,2022-02-15,21,13,Cash,None,0.19,38.9025,1.0,1.0,1.0,1.0,euros 204.75,NaN,NaN,NaN
781630,600,DutyFree Capital,BOG,El Dorado,4.70103,-74.14609,Bogota,Centro,8950782,dolares americanos,130.29,Nacional,Departure,Extranjera,2022-05-09,16,3,Tarjeta,AMEX,0.19,24.7551,NaN,0.0,1.0,NaN,dolares americanos 130.29,NaN,NaN,NaN
781631,400,DutyFree Mira Ve,CLO,Alfonso Bonilla Aragon,3.53491,-76.38733,Palmira,Sur,3283208,dolares americanos,44.49,Internacional,Arrival,Extranjera,2022-02-24,17,6,Tarjeta,VISA,NaN,NaN,NaN,1.0,1.0,1.0,dolares americanos 44.49,NaN,NaN,NaN

# Reconstruccion de datos
1. Los datos tienen 781632 registros
2. Tienen 29 columnas

3. id_tienda => Contiene el identificador unico de cada una de las tiendas; nombre_tienda => Contiene el nombre de la tienda; sigla => Contiene la sigla correspondiente al aeropuerto donde se encuentra la tienda; aeropuerto => Nombre del aeropuerto donde esta nuestra tienda; latitud => Latitud de la ubicación; longitud => Longitud de la ubicacion; ciudad => Contiene la ciudad donde se encuentra nuestra tienda; region => Contiene la region del pais donde se ubica la tienda; id_compra => Identificador unico que para reconocer la compra realizada; moneda => Tipo de divisa con la que se paga; monto => Cantidad pagada en la compra; tipo_viaje => Si es o no internacional o nacional; tipo_transito => Tipo de transito que se presenta; nacionalidad => Nacionalidad de quien realiza la compra; fecha => Fecha en la que se realiza la venta; hora => Hora en la que se realiza la venta; minuto => Minuto en el que se realizo la venta; medio_pago => Medio de pago utilizado para la compra; franquicia_tdc => Franquicia de la tdc en caso de que haya comprado con una de estas; porcentaje_iva => Porcentaje de iva a pagar en por la compra; monto_iva => Cantidad de iva pagado por la compra; lleva_bolsa_plastica => Si o no lleva bolsa plastica; lleva_alcohol => Si en la compra lleva o no un articulo que contenga alcohol; lleva_tabaco => Si o no en la compra lleva un articulo que contenga tabaco; lleva_libros => Si o no lleva libros en su compra; monto_pagado => Monto total pagado para la compra; monto_pagado_cop => Monto pagado con pesos colombianos; monto_pagado_usd => Monto pagado en dolares americanos; monto_pagado_eur => Monto pagado en euros.

In [8]:
id_tienda_col = pd.DataFrame(ventas["id_compra"])
result = id_tienda_col.nunique()
print(result)

id_compra    781632
dtype: int64

4. Si, existe la columna id_tienda, pero para nuestro caso en ventas nuestro id_tienda si puede repetirse. También tenemos id_compra; este si es unico y en nuestra tabla no puede repetirse.

In [9]:
isCarryingBooks = ventas["lleva_libros"].unique().tolist()
print(f"Lleva o no libros: {isCarryingBooks}")

isCarryingTabaco = ventas["lleva_tabaco"].unique().tolist()
print(f"Lleva o no tabaco: {isCarryingTabaco}")
 
isCarryingAlcohol = ventas["lleva_alcohol"].unique().tolist()
print(f"Lleva o no alcohol: {isCarryingAlcohol}")

isCarryingBag = ventas["lleva_bolsa_plastica"].unique().tolist()
print(f"Lleva o no bolsa: {isCarryingBag}")

franchiseTypes = ventas["franquicia_tdc"].unique().tolist()
print(f"Tipos de franquicia tdc: {franchiseTypes}")

paymentTypes = ventas["medio_pago"].unique().tolist()
print(f"Tipos de medios de pago: {paymentTypes}")

cashTypes = ventas["moneda"].unique().tolist()
print(f"Tipos de moneda: {cashTypes}")

travelTypes = ventas["tipo_viaje"].unique().tolist()
print(f"Tipos de viaje: {travelTypes}")

transitTypes = ventas["tipo_transito"].unique().tolist()
print(f"Tipos de transito: {transitTypes}")

Lleva o no libros: [nan, 1.0, 0.0]
Lleva o no tabaco: [nan, 1.0, 0.0]
Lleva o no alcohol: [1.0, nan, 0.0]
Lleva o no bolsa: [1.0, nan, 0.0]
Tipos de franquicia tdc: ['Mastercard', None, 'MCD', 'VISA', 'AMEX', 'American Express']
Tipos de medios de pago: ['TDC', 'Efectivo', 'Tarjeta', 'Cash']
Tipos de moneda: ['EUR', 'pesos colombianos', 'dolares americanos', 'euros', 'COP', 'USD']
Tipos de viaje: ['Nacional', 'Internacional', 'Local']
Tipos de transito: ['Arrival', 'Departure', 'Llegada', 'Salida']

5. Si existen valores con un mismo significado

# Manipulacion de datos

1. Elmine columnas que contengan datos duplicados

2. Para las columnas categóricas, unifique los valores con significados duplicados.

In [10]:
ventas.lleva_libros = ventas.lleva_libros.fillna(0)
ventas.lleva_tabaco = ventas.lleva_tabaco.fillna(0)
ventas.lleva_alcohol = ventas.lleva_alcohol.fillna(0)
ventas.lleva_bolsa_plastica = ventas.lleva_bolsa_plastica.fillna(0)
ventas.franquicia_tdc = ventas.franquicia_tdc.replace(["Mastercard", "American Express"], ["MCD", "AMEX"])
ventas.medio_pago = ventas.medio_pago.replace(["Tarjeta", "Efectivo"], ["TDC", "Cash"])
ventas.moneda = ventas.moneda.replace(["euros", "dolares americanos", "pesos colombianos"], ["EUR", "USD", "COP"])
ventas.tipo_viaje = ventas.tipo_viaje.replace("Local", "Nacional")
ventas.tipo_transito = ventas.tipo_transito.replace(["Arrival", "Departure"], ["Llegada", "Salida"])
 
isCarryingBooks = ventas["lleva_libros"].unique().tolist()
print(f"Lleva o no libros: {isCarryingBooks}")

isCarryingTabaco = ventas["lleva_tabaco"].unique().tolist()
print(f"Lleva o no tabaco: {isCarryingTabaco}")
 
isCarryingAlcohol = ventas["lleva_alcohol"].unique().tolist()
print(f"Lleva o no alcohol: {isCarryingAlcohol}")

isCarryingBag = ventas["lleva_bolsa_plastica"].unique().tolist()
print(f"Lleva o no bolsa: {isCarryingBag}")

franchiseTypes = ventas["franquicia_tdc"].unique().tolist()
print(f"Tipos de franquicia tdc: {franchiseTypes}")

paymentTypes = ventas["medio_pago"].unique().tolist()
print(f"Tipos de medios de pago: {paymentTypes}")

cashTypes = ventas["moneda"].unique().tolist()
print(f"Tipos de moneda: {cashTypes}")

travelTypes = ventas["tipo_viaje"].unique().tolist()
print(f"Tipos de viaje: {travelTypes}")

Lleva o no libros: [0.0, 1.0]
Lleva o no tabaco: [0.0, 1.0]
Lleva o no alcohol: [1.0, 0.0]
Lleva o no bolsa: [1.0, 0.0]
Tipos de franquicia tdc: ['MCD', None, 'VISA', 'AMEX']
Tipos de medios de pago: ['TDC', 'Cash']
Tipos de moneda: ['EUR', 'COP', 'USD']
Tipos de viaje: ['Nacional', 'Internacional']

# Agrupacion de datos
1. ¿Cuánto fue el total de ventas de cada tienda?

In [46]:
pd.options.display.float_format = '{:.1f}'.format
print("Agrupamos las ventas por el identificador de cada una de las tiendas y tambien lo dividimos por el tipo de divisa que recibio la creandonos asi montos totales de ventas con cada una de las divisas por moneda.")
shop_sells = ventas.groupby(by = ["id_tienda", "moneda"]).monto.sum()
shop_sells_dataframe = pd.DataFrame(shop_sells)
shop_sells_dataframe

Agrupamos las ventas por el identificador de cada una de las tiendas y tambien lo dividimos por el tipo de divisa que recibio la creandonos asi montos totales de ventas con cada una de las divisas por moneda.

                        monto
id_tienda moneda
100       COP    6564595400.0
          EUR       4054292.5
          USD       4063176.5
200       COP    6664728900.0
          EUR       4032535.8
          USD       4020531.6
300       COP    6504848800.0
          EUR       4027389.5
          USD       3997522.4
400       COP    6703892400.0
          EUR       4071416.3
          USD       4024400.2
500       COP    6653404100.0
          EUR       4029220.6
          USD       4047997.9
600       COP    6713255500.0
          EUR       4056884.8
          USD       4028310.7
700       COP    6553467200.0
          EUR       4031867.2
          USD       4051380.6
800       COP    6581329000.0
          EUR       4010840.1
          USD       4062870.4
900       COP    6687133000.0
          EUR       4028392.8
          USD       4082580.4
1000      COP    6657230600.0
          EUR       4059786.1
          USD       4081036.8

2. ¿Cuánto fue el total de ventas en pesos colombianos de cada tienda? Utilice el valor actual de la divisa para la conversión.

In [109]:
sells_per_shop = []
EURO_TO_PESOS = 4432.72
DOLAR_TO_PESOS = 4028.85
for i in range(100, 1100, 100):
    total_sells = 0
    converted_euros_sells = shop_sells[i]["EUR"] * EURO_TO_PESOS  
    converted_dolar_sells = shop_sells[i]["USD"] * DOLAR_TO_PESOS
    total_sells = total_sells + converted_euros_sells + converted_dolar_sells + shop_sells[i]["COP"]
    sells_per_shop.append(total_sells)

In [108]:
id_stores = ventas.id_tienda.unique().tolist()
sells_per_shop_dataframe = pd.DataFrame({"id_tienda":pd.Series(id_stores).sort_values().tolist(), "total_vendido": sells_per_shop})
sells_per_shop_dataframe

   id_tienda  total_vendido
0        100  40906067714.3
1        200  40737949985.9
2        300  40462556962.1
3        400  40965045393.5
4        500  40822587431.3
5        600  40925749530.9
6        700  40748010558.9
7        800  40728955293.3
8        900  40991974473.7
9       1000  41095010833.4

3. ¿Cuánto fue el total de ventas de cada zona?